body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: black;
}

h1, h2, h3 { 
    margin-top: 0; 
    font-family: "Space Grotesk", sans-serif;
}

p {
    line-height: 1.5;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}